
/* default style for mobile */
@media (max-width: 599px){
 body {

  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  font-size: 14px;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
);  
  animation: AnimateBG 15s ease infinite;
  }
  body {
    background-image: url("https://www.wallpapertip.com/wmimgs/83-838381_html-wallpaper-background-code-coding-tags.jpg");
    background-color: #cccccc; 
    min-height: 100%;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
}


@keyframes AnimateBG { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
} 



.nameLink {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.nameLink2 {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}    

.nameLink3 {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
}    

 .images{
  background: transparent;
  align-content: center;
  border-radius: 30px;
  margin: 0% 0% 0% 30%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  width: 40%;
}

#aboutMeDiv {
  display:flex;
  border-radius: 30px;
  flex-direction: column;
  background: white;
  margin: 2% 25% 0% 20%;
  padding: 5% 5% 1% 5%;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  color:rgb(4, 4, 4);
}

#nameLink1 {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #060606 0%,
  #000000 30%,
  #000000 67%,
  #5e5d5d 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 45px;
}
     
     @keyframes textclip {
       to {
         background-position: 200% center;
       }
}

#nameLinkMain {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #060606 0%,
  #000000 30%,
  #000000 67%,
  #5e5d5d 100%
  );
  display: flex;  
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 599px;
  height: 150px;
  font-size: 33px;
}
     
     @keyframes textclip {
       to {
         background-position: 200% center;
       }
}

#nameLinkSubtitle {
  text-transform: uppercase;
     background-image: linear-gradient(
       -225deg,
       #000000 0%,
       #000000 30%,
       #000000 67%,
       #ffffff 100%
     );
     background-size: auto;
     background-clip: border-box;
     background-size: 200%;
     color: #fff;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 6s linear infinite;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 150px;
     font-size: 19px;
}
   
   @keyframes textclip {
     to {
       background-position: 200% center;
     }
}

#nameLinkBottom{
  text-transform:uppercase;
     background-image: linear-gradient(
       -225deg,
       #060606 0%,
       #000000 30%,
       #000000 67%,
       #5e5d5d 100%
     );
     background-size: auto;
     background-clip: border-box;
     background-size: 200%;
     color: #fff;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 6s linear infinite;
     display: flex;
       justify-content: center;
       align-items: center;
       height: 150px;
     font-size: 17px;
   }
   
   @keyframes textclip {
     to {
       background-position: 200% center;
     }
  }

#aboutMeInfo {
    display:flex;
    margin: 0% 25% 0% 20%;
    padding: 0% 5% 0% 6%;
    background-color: white;
    flex-direction: column;
    text-align: center;
    align-items: normal;
    float: none;
    width: 50%;
    color:rgb(4, 4, 4);
    }
  
#aboutMeTitle {
  display:flex;
  border-radius: 30px;
  text-decoration: underline;
  margin: 3% 25% 2% 20%;
  padding: 1% 5% 1% 5%;
  background-color: white;
  flex-direction: column;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  color:rgb(4, 4, 4);
}

#projectPictures {
  background-color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: auto;
}

#ulList {
  list-style: none;
  align-items: center;
  padding: 0% 0% 0% 0%
}

nav {
  display: flex;
  align-content: stretch;
  justify-content: center;
  text-align: center;
}

.hidden-page {
  display: none;
  }
}


/********************** default style for computers ***********************/
@media (min-width: 600px){
  body {

    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    font-size: 15px;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(
    );  
    animation: AnimateBG 7s ease infinite;
  }
    body {
      background-image: url("https://www.wallpapertip.com/wmimgs/83-838381_html-wallpaper-background-code-coding-tags.jpg");
      background-color: #cccccc; 
      min-height: 100%;
      background-attachment: fixed;
      background-position: center; 
      background-repeat: no-repeat;
      background-size: cover; 
    }
  
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }  


  .nameLink {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }
  
  .nameLink2 {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    }    
  
  .nameLink3 {
      display: flex;
      justify-content: center;
      text-align: center;
      max-width: 100%;
   }    
  
  .images{
      background: transparent;
      align-content: center;
      border-radius: 30px;
      margin: 0% 0% 0% 30%;
      border: 1px solid rgb(0, 0, 0);
      box-shadow: 10px 10px 10px rgb(0, 0, 0);
      width: 40%;


  }
  
#aboutMeDiv {
    display:flex;
    border-radius: 30px;
    margin: 3% 25% 0% 20%;
    padding: 1% 5% 1% 5%;
    background-color: white;
    flex-direction: column;
    text-align: center;
    align-items: normal;
    float: none;
    width: 50%;
    color:rgb(4, 4, 4);
  }

#projectPictures {
  background-color: white;
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%
}

#ulList {
  list-style: none;
  align-items: center;
  padding: 0% 0% 0% 0%
}

#skillTitle{
  display:flex;
  flex-direction: column;
  text-decoration:underline;
  text-align:center;
  padding: 0% 0% 1% 0%;
}

#nameLink1 {
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #060606 0%,
    #000000 30%,
    #000000 67%,
    #5e5d5d 100%
    );
    background-size: auto;
    background-clip: border-box;
    background-size: 200%;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 45px;
  }
       
       @keyframes textclip {
         to {
           background-position: 200% center;
         }
  }
  
  #nameLinkMain {
    text-transform: uppercase;
    background-image: linear-gradient(
    -225deg,
    #060606 0%,
    #000000 30%,
    #000000 67%,
    #5e5d5d 100%
    );
    background-size: auto;
    background-clip: border-box;
    background-size: 200%;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-size: 45px;
  }
       
       @keyframes textclip {
         to {
           background-position: 200% center;
         }
  }
  #nameLinkSubtitle {
    text-transform: uppercase;
       background-image: linear-gradient(
         -225deg,
         #060606 0%,
         #000000 30%,
         #000000 67%,
         #5e5d5d 100%
         );
       background-size: auto;
       background-clip: border-box;
       background-size: 200%;
       color: #fff;
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation: textclip 6s linear infinite;
       display: flex;
       justify-content: center;
       align-items: center;
       height: 150px;
       font-size: 27px;
     }
     
     @keyframes textclip {
       to {
         background-position: 200% center;
       }
  }
  
  #nameLinkBottom{
    text-transform:uppercase;
       background-image: linear-gradient(
         -225deg,
         #060606 0%,
         #000000 30%,
         #000000 67%,
         #5e5d5d 100%
       );
       background-size: auto;
       background-clip: border-box;
       background-size: 200%;
       color: #fff;
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       animation: textclip 6s linear infinite;
       display: flex;
         justify-content: center;
         align-items: center;
         height: 150px;
       font-size: 18px;
     }
     
     @keyframes textclip {
       to {
         background-position: 200% center;
       }
    }
    
  #aboutMeTitle {
    display:flex;
    border-radius: 30px;
    text-decoration: underline;
    margin: 3% 20% 2% 31%;
    padding: 1% 3% 1% 3%;
    background-color: white;
    flex-direction: column;
    text-align: center;
    align-items: normal;
    float: none;
    width: 30%;
    color:rgb(4, 4, 4);
  }
  
  nav {
    display: flex;
    align-content: stretch;
    justify-content: center;
    text-align: center;
  }
footer {
  display: flex;
  align-content: center;
  text-align: center;
}
  
  .hidden-page {
    display: none;
}
}