
/* default style for mobile */
/* found text animation on google and modified the css code */
@media (max-width: 599px){
 body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  font-size: 14px;
  justify-content: center;
  background-size: 100%;
  background-image: linear-gradient;  
  animation: AnimateBG 20s ease infinite;
  }

body {
  background-image: url("https://w0.peakpx.com/wallpaper/809/145/HD-wallpaper-code-dots-dev-html.jpg");
  background-color: #cccccc; 
  min-height: 100%;
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}


@keyframes AnimateBG { 
  0%{background-position:0% 30%}
  50%{background-position:60% 50%}
  100%{background-position:0% 50%}
} 

.nameLink {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.nameLink2 {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}    

.nameLink3 {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}    

 .images {
  background: transparent;
  align-content: center;
  border-radius: 30px;
  margin: 0% 0% 0% 30%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  width: 40%;
}

#aboutMeSec {
  display:flex;
  border-radius: 30px;
  flex-direction: column;
  background: white;
  margin: 2% 25% 0% 20%;
  padding: 5% 5% 2% 5%;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  color:rgb(4, 4, 4);
}

#nameLink1 {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #47d9fa 0%,
  #ffffff 30%,
  #ffffff 67%,
  #ffffff 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 45px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#nameLinkMain {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #47d9fa 0%,
  #ffffff 30%,
  #ffffff 67%,
  #ffffff 100%
  );
  display: flex;  
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  max-width: 599px;
  height: 100px;
  font-size: 33px;
}
     
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#nameLinkSubtitle {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #47d9fa 0%,
  #ffffff 30%,
  #ffffff 67%,
  #ffffff 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  padding: 0% 0% 0% 0%;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 19px;
}
   
   @keyframes textclip {
     to {
       background-position: 200% center;
     }
}

#nameLinkBottom{
  text-transform:uppercase;
  background-image: linear-gradient(
    -225deg,
    #47d9fa 0%,
    #ffffff 30%,
    #ffffff 67%,
    #ffffff 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-size: 17px;
   }
   
   @keyframes textclip {
     to {
       background-position: 200% center;
     }
  }

#aboutMeTitle {
  display:flex;
  border-radius: 30px;
  text-decoration: underline;
  margin: 3% 25% 2% 24%;
  padding: 1.5% 1% 1.5% 1%;
  background-color: white;
  flex-direction: column;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  color:rgb(4, 4, 4);
}

#projectPictures {
  background-color: white;
  display: flex;
  margin: 3% 0% 0% 25%;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: auto;
}

#ulList {
  list-style: none;
  align-items: center;
  padding: 0% 0% 0% 0%
}

nav {
  display: flex;
  align-content: stretch;
  justify-content: center;
  text-align: center;
}

footer {
  left: 0;
  padding-top: 2%;
  bottom: 0;
  width: 100%;
  text-align: center;
}

button {
  background-color: white;
  border-radius: 11%;
  padding: .5%;
  animation:bouncy 5s infinite linear;
  position:relative;
}
@keyframes bouncy {
0%{top:0em}
35%{top:0em}
40%{top:-0.9em}
45%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}

.aboutMeResumeLink {
  color: black;
  text-decoration: underline;
}


.hidden-page {
  display: none;
}
}


/************************************** default style for computers ************************************************/
/* found text animation on google and modified the css code */
@media (min-width: 600px){
  body {

    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    font-size: 15px;
    justify-content: center;
    background-size: 300%;
    background-image: linear-gradient(
    );  
    animation: AnimateBG 35s ease infinite;
  }
  body {
    background-image: url("https://w0.peakpx.com/wallpaper/809/145/HD-wallpaper-code-dots-dev-html.jpg");
    background-color: #cccccc; 
    min-height: 100%;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    }
  
  @keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }  


  .nameLink {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }
  
  .nameLink2 {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 100%;
  }    
  
.nameLink3 {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  }    
  
.images{
  background: transparent;
  align-content: center;
  border-radius: 30px;
  margin: 0% 0% 0% 30%;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  width: 40%;


  }
  
#aboutMeSec {
  display:flex;
  border-radius: 30px;
  margin: 3% 25% 0% 20%;
  padding: 1% 5% 1% 5%;
  background-color: white;
  flex-direction: column;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  color:rgb(4, 4, 4);
}

#projectPictures {
  background-color: white;
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 2%
}

#ulList {
  list-style: none;
  align-items: center;
  padding: 0% 0% 0% 0%
}

#skillTitle{
  display:flex;
  flex-direction: column;
  text-decoration:underline;
  text-align:center;
  padding: 0% 0% 1% 0%;
}

#nameLink1 {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #24d1f8 0%,
  #7fe6ce 30%,
  #ff6666 67%,
  #ffffff 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 45px;
  }
       
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
#nameLinkMain {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #24d1f8 0%,
  #7fe6ce 30%,
  #ff6666 67%,
  #ffffff 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 45px;
  }
       
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
#nameLinkSubtitle {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #24d1f8 0%,
  #7fe6ce 30%,
  #ff6666 67%,
  #ffffff 100%
    );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 27px;
  }
     
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  
#nameLinkBottom{
  text-transform:uppercase;
  background-image: linear-gradient(
    -225deg,
    #24d1f8 0%,
    #7fe6ce 30%,
    #ff6666 67%,
    #ffffff 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  font-size: 18px;
}
     
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
    
#aboutMeTitle {
  display:flex;
  border-radius: 30px;
  text-decoration: underline;
  margin: 3% 20% 2% 34%;
  padding: 1% 1% 1% 1%;
  background-color: white;
  flex-direction: column;
  text-align: center;
  align-items: normal;
  float: none;
  width: 30%;
  color:rgb(4, 4, 4);
}



nav {
  display: flex;
  align-content: stretch;
  justify-content: center;
  text-align: center;
}
footer {
  left: 0;
  padding-top: 3%;
  padding-bottom: 4%;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.aboutMeResumeLink {
  color: black;
  text-decoration: underline;
}

button {
  background-color: white;
  border-radius: 11%;
  padding: .5%;
  animation:bouncy 5s infinite linear;
  position:relative;
}
@keyframes bouncy {
0%{top:0em}
35%{top:0em}
40%{top:-0.9em}
45%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}

.hidden-page {
  display: none;
}
}