
/* default style for mobile */
/* found text animation on google and modified the css code */
@media (max-width: 599px){
 body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  font-size: 14px;
  background-size: 100%;
  background-image: url("https://media4.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif");
  min-height: 100%;
  background-attachment: fixed;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}

.images {
  background: transparent;
  border-radius: 30px;
  margin: 0% 0% 0% 30%;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  width: 40%;
}

#aboutMeSec {
  display:flex;
  border-radius: 30px;
  flex-direction: column;
  background: white;
  margin: 2% 25% 0% 20%;
  padding: 1% 5% 3% 5%;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  color:rgb(4, 4, 4);
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#nameLink1 {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #8cd4e5 0%,
  #575757 30%,
  #8cd4e5 67%,
  #8cd4e5 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 45px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#nameLinkMain {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #8cd4e5 0%,
  #7bdffd 30%,
  #8cd4e5 67%,
  #8cd4e5 100%
  );
  display: flex;  
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 33px;
}
     
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

#nameLinkSubtitle {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #8cd4e5 0%,
  #7bdffd 30%,
  #8cd4e5 67%,
  #8cd4e5 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  padding-bottom: 1%;
  font-size: 19px;
}
   
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
}

#nameLinkBottom {
  text-transform:uppercase;
  background-image: linear-gradient(
    -225deg,
    #8cd4e5 0%,
    #7bdffd 30%,
    #8cd4e5 67%,
    #8cd4e5 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  font-size: 17px;
}
   
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

#aboutMeTitle {
  display:flex;
  border-radius: 30px;
  text-decoration: underline;
  margin: 3% 25% 2% 24%;
  padding: 1.5% 1% 1.5% 1%;
  background-color: white;
  flex-direction: column;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#projectPictures {
  background-color: white;
  display: flex;
  margin: 3% 0% 0% 25%;
  flex-direction: column;
  text-align: center;
  width: 50%;
  height: auto;
}

#ulList {
  list-style: none;
  align-items: center;
  padding: 0% 0% 0% 0%
}

nav {
  display: flex;
  align-content: stretch;
  justify-content: center;
  text-align: center;
}

footer {
  left: 0;
  padding-top: 4%;
  bottom: 0;
  width: 100%;
  text-align: center;
}

button {
  background-color: rgb(255, 255, 255);
  border-radius: 11%;
  padding: 1%;
  margin: .5%;
  animation:bouncy 5s infinite linear;
  position:relative;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

@keyframes bouncy {
0%{top:0em}
35%{top:0em}
40%{top:-0.9em}
45%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}

button:hover {
  animation-name: bounce;
  cursor: pointer;
  background-color: rgb(122, 195, 226);
}

.titleDiv {
  display: inline-block;
  padding-left: 3%;
}

.aboutMeResumeLink {
  color: rgb(3, 120, 170);
  text-decoration: none;
  background-color: white;
  padding: .5%;
  animation:bouncy 5s infinite linear;
  position: relative;
  overflow: hidden;
}

.footIcons {
  width: 7%;
  border-radius: 15%;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#resumeLogo {
  background-color: white;
  padding-top: 1%;
  width: 7%;
}

.hidden-page {
  display: none;
}
}


/************************************** default style for computers ************************************************/
/* found text animation on google and modified the css code */
@media (min-width: 600px){
  body {
    height: 80vh;
    font-family: sans-serif;
    font-size: 18px;
    background-image: url("https://media4.giphy.com/media/qgQUggAC3Pfv687qPC/giphy.gif");
    min-height: 100%;
    background-attachment: fixed;
    background-position: bottom; 
    background-repeat: no-repeat;
    background-size: cover; 
}

.images {
  background: transparent;
  border-radius: 30px;
  margin: 0% 0% 0% 35%;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  width: 30%;
}
  
#aboutMeSec {
  display:flex;
  border-radius: 30px;
  margin: 3% 25% 0% 20%;
  padding: 1% 5% 1% 5%;
  background-color: white;
  flex-direction: column;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
  color:rgb(4, 4, 4);
}

#projectPictures {
  background-color: white;
  display:flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin: 0 auto;
  margin-top: 2%
}

#ulList {
  list-style: none;
  align-items: center;
  padding: 0% 0% 0% 0%
}

#skillTitle{
  display:flex;
  flex-direction: column;
  text-decoration:underline;
  text-align:center;
  padding: 0% 0% 1% 0%;
}

#nameLink1 {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #8cd4e5 0%,
  #19e0ff 30%,
  #8cd4e5 67%,
  #8cd4e5 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  font-size: 45px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
  
#nameLinkMain {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #8cd4e5 0%,
  #19e0ff 30%,
  #8cd4e5 67%,
  #8cd4e5 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  font-size: 45px;
}
       
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
}

#nameLinkSubtitle {
  text-transform: uppercase;
  background-image: linear-gradient(
  -225deg,
  #979797 0%,
  #8f8f8f 30%,
  #959595 67%,
  #32d3ff 100%
    );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  font-size: 27px;
}
     
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
}
  
#nameLinkBottom{
  text-transform:uppercase;
  background-image: linear-gradient(
    -225deg,
    #979797 0%,
    #8f8f8f 30%,
    #959595 67%,
    #32d3ff 100%
  );
  background-size: auto;
  background-clip: border-box;
  background-size: 200%;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 6s linear infinite;
  display: flex;
  font-size: 18px;
}
     
  @keyframes textclip {
  to {
    background-position: 200% center;
  }
}
    
#aboutMeTitle {
  display:flex;
  border-radius: 30px;
  text-decoration: underline;
  margin: 3% 25% 2% 24%;
  padding: 1.5% 1% 1.5% 1%;
  background-color: white;
  flex-direction: column;
  text-align: center;
  align-items: normal;
  float: none;
  width: 50%;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.titleDiv {
  display: inline-block;
  padding-left: 5%
}

nav {
  display: flex;
  align-content: stretch;
  justify-content: center;
  text-align: center;
}

footer {
  left: 0;
  padding-top: 3%;
  padding-bottom: 4%;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.aboutMeResumeLink {
  color: rgb(3, 120, 170);
  text-decoration: none;
  background-color: white;
  padding: .5%;
  animation:bouncy 5s infinite linear;
  position: relative;
  overflow: hidden;
}

button {
  width: auto;
  margin: 6px;
  background-color: rgb(255, 255, 255);;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 11%;
  padding: 1%;
  animation:bouncy 5s infinite linear;
  position:relative;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

@keyframes bouncy {
0%{top:0em}
35%{top:0em}
40%{top:-0.9em}
45%{top:0em}
48%{top:-0.4em}
50%{top:0em}
100%{top:0em;}
}

button:hover {
  animation-name: bounce;
  cursor: pointer;
  background-color: rgb(122, 195, 226);
}

.footIcons {
  width: 5%;
  border-radius: 15%;
  border: 4px solid rgb(0, 0, 0);
  box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

#resumeLogo {
  background-color: white;
  padding-top: 1%;
}

.hidden-page {
  display: none;
}
}